version: '3.8'

services:
  web:
    build: .
    container_name: ecommerce_django
    command: gunicorn ecommerce_project.wsgi:application --bind 0.0.0.0:8000
    ports:
      - "8000:8000"
    volumes:
      - .:/app
    environment:
      - DJANGO_SETTINGS_MODULE=ecommerce_project.settings
